h1 {
    margin-bottom: 15px;
    font-size: 60px;
    color: white;
    text-align: center;
    text-decoration: underline;
    background-color: black;
  }

  h3 {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
  }
  
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }