body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
};
.jumbotron {
    margin-bottom: 15px;
    font-size: 60px;
    color: white;
    text-align: center;
    background-color: black;
  };
h1 {
  font-size: 10px;
  padding: 10px;
  text-align: center;
};

h3 {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
};
  
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  };
  .input-group {
    margin: 20px;
    padding: 0px;
  };
  .col-sm-6{
    margin-left: 20px;
    margin-top: 30px;
    align-items: center;
    padding:0px;
  };

  .col-sm-3 {
    margin-top: 20px;
    align-items: center;
    padding: 0px;
  };
  .form-control {
    padding: 0px;
    
  };
 
